{% extends "base.html" %}
{% block content %}
<div>
    {% if plannings %}
    <h1>Planning Général</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <a class="btn btn-primary" href="{% url 'Secretary:studentList' %}">Voir la liste des students</a>
    <a class="btn btn-primary" href="{% url 'Secretary:instructorList' %}">Voir la liste des instructeurs</a>
    <a class="btn btn-primary" href="{% url 'Secretary:addPlanningGeneral' %}">Ajouter un rdv</a>
    <table class="table table-bordered table-striped table-hover mt-4">
        <thead class="thead-dark">
            <tr>
                <th>Student</th>
                <th>Instructor</th>
                <th>Date</th>
                <th>Hour</th>
                <th>Place</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        {% for planning in plannings %}
        <tr>
            <td><a class="btn btn-link" href="{% url 'Secretary:studentDetail' planning.student.id %}">{{planning.student }}</a></td>
            <td><a class="btn btn-link" href="{% url 'Secretary:instructorDetail' planning.instructor.id %}">{{planning.instructor }}</a></td>
            <td>{{ planning.date|date:"d-m-Y" }}</td>
            <td>{{ planning.date|date:"H:i" }}</td>
            <td>{{ planning.place }}</td>
            <td><a class="btn btn-warning" href="{% url 'Secretary:modifierPlanning' planning.id %}">Modifier</a></td>
            <td><a class="btn btn-danger" href="{% url 'Secretary:confirmDeletePlanning' planning.id %}">Supprimer</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>Aucun RDV disponible</p>
    {% endif %}
</div>

{% endblock %}


            
                    <!-- <a class="btn btn-primary" href="{% url 'Secretary:addPlanningGeneral' %}">Ajouter un RDV</a> -->