{% extends "base.html" %}
{% block title %}Profil{% endblock %}
{% block content %}

<div class="container-fluid">

    <div class="row justify-content-center mt-5">
        <div class="col-8">


            <h1>Détails de l'instructeur : {{ instructor.username }}</h1>
            <a class="btn btn-dark" href="{% url 'Secretary:homeSecretary'%}">Retour</a>

            <table class="table table-bordered table-striped table-hover mt-3">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nom d'utilisateur</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Voir son planning</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ instructor.username }}</td>
                        <td>{{ instructor.name }}</td>
                        <td>{{ instructor.lastname }}</td>
                        <td><a class="btn btn-dark" href="{% url 'Secretary:planningInstructor' instructor.id %}">Voir son planning</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}