{% extends "base.html" %}
{% block title %}Modifier{% endblock %}
{% block content %}
<div>
    <form method="post">
        {% if error_message %}<p>{{ error_message }}</p>{% endif %}
        {% csrf_token %}
        {{ form.student }}
        {{ form.instructor }}
        {{ form.date }}
        {{ form.place }}
        <input class="btn btn-primary" type="submit" value="Enregistrer les modifications">
    </form>
    <a class="btn btn-dark" href="{% url 'Instructor:homeInstructor' %}">Retour au planning</a>

</div>
{% endblock %}