{% extends "base.html" %}
{% block title %}Profil Student{% endblock %}
{% block content %}
<style>
    body {
        background: radial-gradient(circle at 18.7% 37.8%, rgb(255, 0, 0) 0%, rgb(225, 234, 238) 90%);
    }
    .navbar {
        background: radial-gradient(circle at 18.7% 37.8%, rgb(225, 234, 238) 0%, rgb(255, 0, 0) 90%);
    }
    .navlink {
        color: black;
    }
</style>
<div>
    {% if student%}
    <table>
        <tr>
            <th>Username</th>
            <th>Total hour</th>
            <th>Hour remaining</th>
        </tr>
        <tr>
            <td>{{ student.username }}</td>
            <td>{{ student.h_total }}</td>
            <td>{{ student.h_remaining }}</td>
        </tr>
    </table>
    {% endif %}  
    <a class="btn btn-dark" href="{% url 'Instructor:homeInstructor' %}">Retour au planning</a>
</div> 
{% endblock %}
```
